<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cosmoplat.cowfarm.mapper.SysUserMapper">


    <update id="updateStatusById" parameterType="string">
        UPDATE sys_user
        SET `status` = 0
        WHERE id = #{id}
    </update>


    <update id="updateBatch" parameterType="list">
        UPDATE sys_user
        SET `status` = 0
        where id in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="findAllByStatus" resultType="com.cosmoplat.cowfarm.pojo.SysUser">
        select *
        from sys_user
        where `status` = 1
    </select>

    <select id="findById" resultType="com.cosmoplat.cowfarm.pojo.SysUser">
        select *
        from sys_user
        where `status` = 1
          and id = #{id}
    </select>

    <select id="selectBySelective" resultType="com.cosmoplat.cowfarm.pojo.SysUser">
        select *
        from sys_user
        <where>
            <if test="dto.status != null and dto.status != ''">
                and `status` = #{dto.status}
            </if>
            <if test="dto.username != null and dto.username != ''">
                and username like concat('%', #{dto.username}, '%')
            </if>
            <if test="dto.mobile != null and dto.mobile != ''">
                and mobile like concat('%', #{dto.mobile}, '%')
            </if>
            <if test="dto.sex != null and dto.sex != ''">
                and sex = #{dto.sex}
            </if>
            <if test="dto.regStart != null ">
                and regdate <![CDATA[>]]> #{dto.regStart}
            </if>
            <if test="dto.regEnd != null ">
                and regdate <![CDATA[<]]> #{dto.regEnd}
            </if>
            <if test="dto.startDate != null ">
                and lastdate <![CDATA[>]]> #{dto.startDate}
            </if>
            <if test="dto.endDate != null ">
                and lastdate <![CDATA[<]]> #{dto.endDate}
            </if>
        </where>
        limit ${(dto.page - 1) * dto.size}, ${dto.size}
    </select>

    <select id="countSelectBySelective" resultType="java.lang.Integer">
        select count(1)
        from sys_user
        <where>
            <if test="dto.status != null and dto.status != ''">
                and `status` = #{dto.status}
            </if>
            <if test="dto.username != null and dto.username != ''">
                and username like concat('%', #{dto.username}, '%')
            </if>
            <if test="dto.mobile != null and dto.mobile != ''">
                and mobile like concat('%', #{dto.mobile}, '%')
            </if>
            <if test="dto.sex != null and dto.sex != ''">
                and sex = #{dto.sex}
            </if>
            <if test="dto.regStart != null ">
                and regdate <![CDATA[>]]> #{dto.regStart}
            </if>
            <if test="dto.regEnd != null ">
                and regdate <![CDATA[<]]> #{dto.regEnd}
            </if>
            <if test="dto.startDate != null ">
                and lastdate <![CDATA[>]]> #{dto.startDate}
            </if>
            <if test="dto.endDate != null ">
                and lastdate <![CDATA[<]]> #{dto.endDate}
            </if>
        </where>
    </select>

</mapper>
